<form  (ngSubmit)="submit()" #myForm="ngForm" novalidate>
  
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" size="20" required isUnique="['aa','bb','cc','dd']"
      [(ngModel)]="model.name" name="name">
        <div style="color:red" *ngIf="myForm && myForm.form && myForm.form.get('name') && !myForm.form.get('name').valid">
                The name is required
        </div>
  </div>
 
  
  <div class="form-group"> 
    <label for="email1">Email</label>
    <input type="email" class="form-control" id="email1" size="20"   name="email1"  email [(ngModel)]="model.email" #email1="ngModel" >
  </div>
    <button type="submit" class="btn btn-success" [disabled]="myForm && myForm.form && !myForm.form.valid">Submit</button>
</form>
